/* MAINPAGE.HTML */

.title-text {
    color: rgb(77, 226, 184);
    /* We can also use Borel-Regular here, your choice */
    font-family: Jost;
    font-style: oblique;
    font-size: 10vw;
    text-align: center;

    animation-name: spinningtitle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    transition-duration: 1s;
}    

@keyframes spinningtitle {
    0%{
        opacity: 0.6;
    }

    50%{
        transform: rotateZ(2deg);
        opacity: 1;
    }

    100%{
        transform: rotateZ(-2deg);
        opacity: 0.6;
    }
}

.title-text:hover{
    scale: 1.2;
    color: rgb(89, 121, 209)
}



.flask-wrapper {
  position:absolute;
  bottom: 100px;
  right: 100px;
  width: 80px;
  height: 100px;
  z-index: 1000;
}

.flask {
  width: 200px;
  height: 200px;
  animation: pulse 2s infinite ease-in-out;
  filter: drop-shadow(0 0 5px #8338ec);
}


.hidden {
    display: none;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.sparkle {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  position: absolute;
  animation: sparkle 1.5s infinite ease-in-out;
  opacity: 0;
  box-shadow: 0 0 6px rgb(162, 255, 232);
}

.sparkle1 {
  top: 100px;
  left: 100px;
  animation-delay: 0s;
}

.sparkle2 {
  top: 30px;
  left: 60px;
  animation-delay: 0.5s;
}

.sparkle3 {
  top: 10px;
  left: 120px;
  animation-delay: 1s;
}

@keyframes sparkle {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

#flask {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px; /* was 40px */
  height: 120px; /* was 60px */
  background: radial-gradient(circle at top, #66f, #003);
  border: 3px solid #88f;
  border-bottom-left-radius: 30% 60%;
  border-bottom-right-radius: 30% 60%;
  border-top-left-radius: 50% 30%;
  border-top-right-radius: 50% 30%;
  transform: rotate(0deg);
  box-shadow: 0 0 20px #88f;
  animation: pulse 2s infinite ease-in-out;
  z-index: 999;
}










.lesson-select-button {
  width: 15%;
  height: 120px; /* fixed height */
  
  justify-content: center;
  align-items: center;
  
  padding: 1vw;
  font-size: clamp(1rem, 1.5vw, 2rem); /* scales but has limits */
  
  border: 2px solid black;
  border-radius: 10px;
  font-family: Jost;
  transition-duration: 0.4s;
  text-align: center;
}


.lesson-select-container {
  display: flex;
  flex-direction: row; /* keep same lessons on same line */
}

.lesson-select-button:hover {
    color: rgb(48, 222, 210);
    scale: 1.1;
}

















/* back buttons */

.back-button {
    padding: 8px 50px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: calc(1em + 0.5vw);
    text-align: center;
    font-family: Jost;
    border: 2px solid rgb(199, 33, 33);
    border-radius: 10px; 
    transition-duration: 0.4s;
    width: 15%;
    font-family: Quantico;
}

.back-button:hover {
    background-color: #f54e4e;
    color:aliceblue;
    transform: translateY(-5px);
    font-family: Quantico;
}














/* practice mode*/

h1 {
    color: #a662fe;
    text-align: center;
    font-size: 70px;
    font-family: Quantico;
}


.practice-background {
    background-image: url('images/practice-background.webp');
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    inset: 0;
    opacity: 0.3;
    z-index: -1;
}












/* all of the following horrible shit is for the flashcards */

.frontside {
    transition-duration: 0.4s;
    text-align: center;
}

.frontside:hover {
    transition-duration: 0.3s;
    scale: 1.2;
}

.backside {

    color: rgba(105, 219, 139, 0.611);
    transition-duration: 0.4s;
}


.backside:hover {
    scale: 1.2;
    transition-duration: 0.3s;
}

.completed-set {
    color:rgb(93, 255, 93);
    font-size: calc(2em + 2vw);
    border: 3px;
}


@keyframes settle-shake {
  0%   { transform: translateX(0); }
  10%  { transform: translateX(-10px); }
  20%  { transform: translateX(10px); }
  30%  { transform: translateX(-8px); }
  40%  { transform: translateX(8px); }
  50%  { transform: translateX(-5px); }
  60%  { transform: translateX(5px); }
  70%  { transform: translateX(-3px); }
  80%  { transform: translateX(3px); }
  90%  { transform: translateX(-1px); }
  100% { transform: translateX(0); }
}

.settle {
  display: inline-block;
  animation: settle-shake 0.6s ease-out;
}












/* FONTS!!!! */

/* P.S: font-family is what YOU want to call it, doesn't have to be same as the file */

@font-face {
    font-family: Title;
    src: url('fonts/Borel-Regular.ttf');
}

@font-face {
    font-family: Jost;
    src: url('fonts/Jost-VariableFont_wght.ttf');
}


@font-face {
    font-family: Quantico;
    src: url('fonts/Quantico-Bold.ttf');
}


@font-face {
    font-family: Fancy;
    src: url('fonts/Ephesis-Regular.ttf');
}


@font-face {
  font-family: Money;
  src: url('fonts/DMSerifText-Regular.ttf');
}


@font-face {
  font-family: Exquisite;
  src: url("fonts/Yesteryear-Regular.ttf")
}