

/* menu buttons!!! */

.menu-button {
    color: green;
    /*this is for making button look good */
    padding: 12px 70px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px; 
    /*this somehow centers the button*/
    display: block;
    margin: 0 auto;
    width: 30%;
    /*this affects hover transition time, longer looks better???*/
    transition-duration: 0.5s;
    
}
        
/*pretty sure this has to be declared as a seperate rule. Oh well!*/
.menu-button:hover {
    /*background-color determines what rest of the button turns to,
    color is what the TEXT turns to :) */
    background-color: green;
    color: whitesmoke;
    scale: 1.2;
}

.lesson-select-button {
    padding: 8px 50px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 10px; 
    transition-duration: 0.4s;
    width: 15%;
    text-align: center;
}

.lesson-select-button:hover {
    color: rgb(48, 222, 210);
    scale: 1.1;
}



.practice-background {
    background-image: url('images/practice-background.webp');
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    inset: 0;
    opacity: 0.3;
    z-index: -1;
}

/* back buttons */

.back-button {
    padding: 8px 50px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 10px; 
    transition-duration: 0.4s;
    width: 15%;

}

.back-button:hover {
    background-color: red;
    color: white;
}

h1 {
    color: #a662fe;
    text-align: center;
    font-size: 70px;
    font-family: Quantico;
}


.practice-background {
    background-image: url('images/practice-background.webp');

}



.backside {

    color: blueviolet;
}

/* FONTS!!!! */

@font-face {
    font-family: Title;
    src: url('fonts/Borel-Regular.ttf');
}

@font-face {
    font-family: Jost;
    src: url('fonts/Jost-VariableFont_wght.ttf');
}


@font-face {
    font-family: Quantico;
    src: url('fonts/Quantico-Bold.ttf');
}