
/*styles for lessons CSS! */


body {
    background-color: rgb(195, 145, 69);
}

.cool-header-blue {
    color:aliceblue;
    font-size: 30px;
    text-align: center;
    transition-duration: 0.5s;
    
}


.cool-header-blue:hover {
    font-size: 40px;
    transition-duration: 1s;
}

b {
    color:rgb(79, 109, 159);
    transition-duration: 250ms;
    
}

b:hover {
    display: inline-block;
    transform: scale(1.5);
    transform-origin: top;
    color:greenyellow;
    transition-duration: 500ms;
}

p {
    color: rgb(15, 15, 15);
    font-size: 20px;
}







.back-button {
    padding: 8px 50px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 10px; 
    transition-duration: 0.4s;
    width: 15%;

}

.back-button:hover {
    background-color: red;
    color: white;
}




.quiz-button {
    padding: 10px 30px;
    border-radius: 15;
    border: 2px solid black;
    background-color: grey;
    color:rgb(253, 253, 253);
    transition-duration: 0.2s;
    text-align: center;
    bottom: 80px;
    left: 80px;

}


.quiz-button:hover {

    border-radius: 25;
    background-color: goldenrod;
    transition-duration: 0.2s;
}