
/*styles for lessons CSS! */

/* text and other bullshit*/

body {
    background-color: rgb(195, 145, 69);
}

.cool-header-blue {
    color:aliceblue;
    font-size: 30px;
    text-align: center;
    transition-duration: 0.5s;
    
}


.cool-header-blue:hover {
    font-size: 40px;
    transition-duration: 1s;
}

b {
    color:rgb(79, 109, 159);
    transition-duration: 250ms;
    
}

b:hover {
    display: inline-block;
    transform: scale(1.5);
    transform-origin: top;
    color:greenyellow;
    transition-duration: 250ms;
}

p {
    color: rgb(15, 15, 15);
    font-size: 20px;
}




em {
    font-family: Quantico;
    font-size: 18px;
    transition-duration: 0.5s;
}

em:hover {
    transform: translateY(-5px);
    transition-duration: 0.5s;
}














/* Buttons */







.back-button {
    padding: 8px 50px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: calc(1em + 0.5vw);
    text-align: center;
    font-family: Jost;
    border: 2px solid rgb(199, 33, 33);
    border-radius: 10px; 
    transition-duration: 0.4s;
    width: 15%;
    font-family: Quantico;
}

.back-button:hover {
    background-color: #f54e4e;
    color:aliceblue;
    transform: translateY(-5px);
    font-family: Quantico;
}




.gototest {

    /*looks*/
    padding: 8px 50px;
    width: 25%;
    border: 2px solid rgb(199, 33, 33);
    border-radius: 10px; 

    /*position, but this is awful currently*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*text*/
    text-align: center;
    font-family: Quantico;
    font-size: calc(1em + 0.5vw);
    text-align: center;

    transition-duration: 0.4s;
}


.gototest:hover {
    background-color: #bce86a;
    color:rgb(77, 71, 254);
    scale: 1.1;
    font-family: Quantico;
    transition-duration: 0.4s;
}









/* we have to redeclare fonts here, whoopsies!!! */

@font-face {
    font-family: Quantico;
    src: url("../fonts/Quantico-Bold.ttf");
}